binder_use(mpdecision)

type_transition mpdecision socket_device:sock_file mpctl_socket;
type_transition mpdecision system_data_file:file mpctl_data_file;

allow mpdecision socket_device:dir add_name;
allow mpdecision socket_device:dir w_dir_perms;
allow mpdecision sysfs_devices_system_cpu:file rw_file_perms;
allow mpdecision system_data_file:dir w_dir_perms;
allow mpdecision system_file:file execmod;
