#============= platform_app ==============
allow platform_app nfc_service:service_manager find;
allow platform_app time_daemon:unix_stream_socket connectto;

get_prop(platform_app, qemu_hw_mainkeys_prop)
