type set_baseband, domain;
type set_baseband_exec, exec_type, file_type;
init_daemon_domain(set_baseband)

r_dir_file(set_baseband, firmware_file)
rx_dir_file(set_baseband, shell_exec)
set_prop(set_baseband, baseband_prop)
