type set_baseband, domain;
type set_baseband_exec, exec_type, file_type;
init_daemon_domain(set_baseband)

r_dir_file(set_baseband, firmware_file)
allow set_baseband shell_exec:file { entrypoint read getattr };
allow set_baseband toolbox_exec:file rx_file_perms;
set_prop(set_baseband, baseband_prop)
