allow system_server cir_device:chr_file rw_file_perms;
rw_dir_file(system_server, sysfs_touchpanel)
allow system_server sysfs_usb_supply:dir search;
get_prop(system_server, sysfs_usb_supply)
get_prop(system_server, sysfs_vibeamp)
get_prop(system_server, baseband_prop)
