allow vendor_init bluetooth_data_file:file { setattr };

domain_auto_trans(vendor_init, vendor_toolbox_exec, vendor_init)
allow vendor_init unlabeled:{ dir file } { getattr relabelfrom };
allow vendor_init unlabeled:dir search;
