on early-boot
    # emotional led
    chown system system /sys/devices/virtual/lg_rgb_led/use_patterns/blink_patterns
    chmod 0644 /sys/devices/virtual/lg_rgb_led/use_patterns/blink_patterns
    chown system system /sys/devices/virtual/lg_rgb_led/use_patterns/input_patterns
    chmod 0644 /sys/devices/virtual/lg_rgb_led/use_patterns/input_patterns
    chown system system /sys/devices/virtual/lg_rgb_led/use_patterns/onoff_patterns
    chmod 0644 /sys/devices/virtual/lg_rgb_led/use_patterns/onoff_patterns
    chown system system /sys/devices/virtual/lg_rgb_led/use_patterns/setting
    chmod 0644 /sys/devices/virtual/lg_rgb_led/use_patterns/setting

service light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.g2
    class hal
    user system
    group system
